header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.myname {
  color: grey;
  font-size: 40pt;
}

header {
  display: inline-block;
  position: absolute;
  left: 60em;
}

.namebackground {
  width: 450px;
  height: 97px;
  background-color: #232d2e;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  left: 30em;
  bottom: 0.5em;
}

img {
  z-index: -1;
}

h3.job_title {
  color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: 13.7em;
  font-size: 40pt;
  left: 14em;
  margin: 0;
}

h3.job_title span {
  font-size: 40pt;
  position: absolute;
  left: 3.7em;
  padding: 0;
  color: whitesmoke;
}

h3.dev {
  font-size: 60pt;
  position: absolute;
  left: 12em;
  bottom: 4.3em;
}

h3.dev span {
  font-size: 12pt;
  position: absolute;
  top: 6.5em;
  left: 27em;
}

.personal_statement {
  width: 500px;
  height: 500px;
  line-height: 25pt;
  text-align: center;
  font-size: 1.2rem;
  position: absolute;
  left: 49em;
  top: 18em;
}

ul.menu {
  float: right;
  list-style-type: none;
  margin-right: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30em;
}

ul.menu a {
  color: whitesmoke;
  text-decoration: none;
}

aside {
  padding-left: 7.5em;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #232d2e;
  color: whitesmoke;
  width: 100%;
}

article {
  padding-left: 10em;
  padding-right: 10em;
  margin: 2em;
  margin-top: 4em;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 10em;
  padding-top: 1em;
  padding-bottom: 3em;
  margin-top: 4em;
  background-color: black;
  color: whitesmoke;
}

footer a {
  color: #8ccef7;
}

.experience_section {
  margin-top: 3em;
}

.skills_section {
  margin-top: 3em;
}

.QF1_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.QF2_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.job1_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.job2_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.cs_h {
  padding-right: 7em;
  width: 80em;
}

.q2_h {
  padding-right: 11.5em;
  width: 80em;
}

.j1_h {
  padding-right: 11.7em;
  width: 10em;
}

.j2_h {
  padding-right: 11.7em;
  width: 10em;
}

ul.skl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h4 {
  font-weight: lighter;
  margin-left: 4.5em;
  position: relative;
  top: 1em;
}

img.logom {
  width: 40px;
  height: 40px;
}

.logom:hover {
  -webkit-animation: moveRight 3s forwards;
          animation: moveRight 3s forwards;
}

@-webkit-keyframes moveRight {
  from {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
  }
}

@keyframes moveRight {
  from {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
  }
}

.logodiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 182px;
  position: relative;
  left: 0.8em;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
}

fieldset {
  width: 600px;
  border-color: black;
}

.form_row {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 0.5em;
}

.formgroup {
  padding-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col {
  width: 280px;
  height: 30px;
  border-radius: 5px;
}

input {
  border: none;
}

.dropdownlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

select {
  width: 580px;
  height: 30px;
  border-radius: 5px;
}

textarea {
  width: 576px;
  border-radius: 5px;
}

form {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 580px;
  position: relative;
  left: 0.55em;
}

button {
  width: 580px;
  height: 40px;
  background-color: #2565e5;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: larger;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form_section {
  position: relative;
  right: 7em;
}

.imagediv {
  width: 100%;
  height: 100vh;
  display: inline-block;
  overflow: auto;
}

.hero_section {
  background: url("../images/original picture.jpg"), url("../images/jazmin-quaynor-jC7jCVzI2S0-unsplash.jpg");
  background-size: 24% 76vh , 33% 100vh;
  background-repeat: no-repeat, no-repeat;
  background-position-x: 40% , 0%;
  background-position-y: 49.2% , 0%;
}

picture img {
  width: 320px;
  height: 480px;
  position: absolute;
  left: 25em;
  top: 6em;
  z-index: 100;
}

.number {
  width: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  left: 40em;
  bottom: 17em;
}

p.one {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  left: 53em;
  top: 37em;
}

p.two {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  left: 54.5em;
  top: 39em;
}

p.three {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  left: 56em;
  top: 41em;
}

svg {
  position: absolute;
  left: 71.5em;
  top: 28em;
}

section.content {
  position: relative;
  bottom: 8em;
}
/*# sourceMappingURL=main.css.map */